# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.vim

.emacs.d/librime
.emacs.d/.lsp-session-v1
.emacs.d/abbrev_defs
.emacs.d/auto-save-list
.emacs.d/docsets
.emacs.d/elpa
.emacs.d/projectile-bookmarks.eld
.emacs.d/undo-tree-history
.emacs.d/projectile.cache
.emacs.d/url
.emacs.d/\.mc-lists.el
.emacs.d/ac-comphist*
.emacs.d/network-security*
.emacs.d/eshell/
.emacs.d/recentf
.emacs.d/themes/
.emacs.d/transient/
.emacs.d/cider-history
.emacs.d/tramp
.emacs.d/var
.emacs.d/config.el
.emacs.d/eln-cache
.emacs.d/custom.el  
.emacs.d/snippets  
.emacs.d/straight
.emacs.d/nox
.emacs.d/squirrel*
.emacs.d/rime*
.emacs.d/.org-*
.emacs.d/.org-*
.emacs.d/eaf
.emacs.d/blink*
rime-settings*


htop
.tmux
GPATH
GTAGS
GRTAGS
get-pip.py
.savehist
.emacs.d/.emacs*
.emacs.d/smex-items
.emacs.d/custom.el
*.~undo-tree~
