[submodule ".emacs.d/vendor/lazycat-theme"]
path = .emacs.d/vendor/lazycat-theme
url = https://github.com/manateelazycat/lazycat-theme

[submodule ".emacs.d/vendor/color-rg"]
path = .emacs.d/vendor/color-rg
url = https://github.com/manateelazycat/color-rg

[submodule ".emacs.d/vendor/auto-save"]
path = .emacs.d/vendor/auto-save
url = https://github.com/manateelazycat/auto-save

[submodule ".emacs.d/vendor/watch-other-window"]
path = .emacs.d/vendor/watch-other-window
url = https://github.com/manateelazycat/watch-other-window

[submodule ".emacs.d/vendor/ob-go"]
path = .emacs.d/vendor/ob-go
url = https://github.com/pope/ob-go

[submodule ".emacs.d/vendor/thing-edit"]
path = .emacs.d/vendor/thing-edit
url = https://github.com/manateelazycat/thing-edit

[submodule ".emacs.d/vendor/C4-PlantUML"]
path = .emacs.d/vendor/C4-PlantUML
url = https://github.com/plantuml-stdlib/C4-PlantUML

[submodule ".emacs.d/vendor/plantuml-style-c4"]
path = .emacs.d/vendor/plantuml-style-c4
url = https://github.com/xuanye/plantuml-style-c4

[submodule ".emacs.d/vendor/org-bars"]
path = .emacs.d/vendor/org-bars
url = https://github.com/tonyaldon/org-bars

[submodule ".emacs.d/vendor/plantuml-emacs"]
path = .emacs.d/vendor/plantuml-emacs
url = https://github.com/ginqi7/plantuml-emacs

[submodule ".emacs.d/vendor/sort-tab"]
path = .emacs.d/vendor/sort-tab
url = https://github.com/manateelazycat/sort-tab

[submodule ".emacs.d/vendor/lazy-load"]
path = .emacs.d/vendor/lazy-load
url = https://github.com/manateelazycat/lazy-load.git

[submodule ".emacs.d/vendor/posframe"]
path = .emacs.d/vendor/posframe
url = https://github.com/tumashu/posframe.git

[submodule ".emacs.d/vendor/goto-line-preview"]
path = .emacs.d/vendor/goto-line-preview
url = https://github.com/jcs090218/goto-line-preview.git

[submodule ".emacs.d/vendor/emacs-rime"]
path = .emacs.d/vendor/emacs-rime
url = https://github.com/DogLooksGood/emacs-rime.git

[submodule ".emacs.d/vendor/goto-chg"]
path = .emacs.d/vendor/goto-chg
url = https://github.com/emacs-evil/goto-chg

[submodule ".emacs.d/vendor/org-auto-tangle"]
path = .emacs.d/vendor/org-auto-tangle
url = https://github.com/yilkalargaw/org-auto-tangle

[submodule ".emacs.d/vendor/one-key"]
path = .emacs.d/vendor/one-key
url = https://github.com/manateelazycat/one-key

[submodule ".emacs.d/vendor/blink-search"]
path = .emacs.d/vendor/blink-search
url = https://github.com/manateelazycat/blink-search

[submodule ".emacs.d/vendor/markmacro"]
path = .emacs.d/vendor/markmacro
url = https://github.com/manateelazycat/markmacro

[submodule ".emacs.d/vendor/diredfl"]
path = .emacs.d/vendor/diredfl
url = https://github.com/purcell/diredfl

[submodule ".emacs.d/vendor/nov"]
path = .emacs.d/vendor/nov
url = https://depp.brause.cc/nov.el.git

[submodule ".emacs.d/vendor/org-ai"]
path = .emacs.d/vendor/org-ai
url = https://github.com/rksm/org-ai.git

[submodule ".emacs.d/vendor/everforest-theme"]
path = .emacs.d/vendor/everforest-theme
url = https://github.com/Theory-of-Everything/everforest-emacs

[submodule ".emacs.d/vendor/mind-wave"]
path = .emacs.d/vendor/mind-wave
url = https://github.com/manateelazycat/mind-wave

[submodule ".emacs.d/vendor/vundo"]
path = .emacs.d/vendor/vundo
url = https://github.com/casouri/vundo

[submodule ".emacs.d/vendor/emacs-application-framework"]
path = .emacs.d/vendor/emacs-application-framework
url = https://github.com/emacs-eaf/emacs-application-framework
branch = master

[submodule ".emacs.d/vendor/valign"]
path = .emacs.d/vendor/valign
url = https://github.com/casouri/valign

[submodule ".emacs.d/vendor/awesome-tray"]
path = .emacs.d/vendor/awesome-tray
url = https://github.com/manateelazycat/awesome-tray

[submodule ".emacs.d/vendor/cdlatex"]
path = .emacs.d/vendor/cdlatex
url = https://github.com/cdominik/cdlatex

[submodule ".emacs.d/vendor/tao-theme-emacs"]
path = .emacs.d/vendor/tao-theme-emacs
url = https://github.com/11111000000/tao-theme-emacs

[submodule ".emacs.d/vendor/emacs-dashboard"]
path = .emacs.d/vendor/emacs-dashboard
url = https://github.com/emacs-dashboard/emacs-dashboard

[submodule ".emacs.d/vendor/ob-erlang"]
path = .emacs.d/vendor/ob-erlang
url = https://github.com/xfwduke/ob-erlang

[submodule ".emacs.d/vendor/lsp-bridge"]
	path = .emacs.d/vendor/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
	branch = master
