# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.vim

.emacs.d/.cask
.emacs.d/abbrev_defs
.emacs.d/auto-save-list
.emacs.d/docsets
.emacs.d/elpa
.emacs.d/projectile-bookmarks.eld
.emacs.d/undo-tree-history
.emacs.d/projectile.cache
.emacs.d/url
.emacs.d/\.mc-lists.el
.emacs.d/ac-comphist*
.emacs.d/network-security*
.emacs.d/eshell/
.emacs.d/recentf
.emacs.d/themes/
.emacs.d/transient/
.emacs.d/cider-history
.emacs.d/tramp
fonts-master/

htop
.tmux
GPATH
GTAGS
GRTAGS

.emacs.d/smex-items
